*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.carousel-item img {
    width: 100%;
    height: 91vh;
}
.img_css {
    width: 90%;
    max-height: 250%;
   
}
.image_setup_css   {
    width: 100%;
    height: 30vh;
}
.carousel-caption h5 {
    color:rgb(184, 17, 67);
    font-weight: bolder;
}
.carousel-caption p {
    color: rgb(247, 247, 248);
    font-weight: bolder;
}

footer {
    margin-bottom: 0;
}